version: "3.9"

services:
  db:
    image: postgres:15
    container_name: odoo18_db
    environment:
      POSTGRES_DB: odoo
      POSTGRES_USER: odoo
      POSTGRES_PASSWORD: odoo
    volumes:
      - odoo_db_data:/var/lib/postgresql/data
    restart: unless-stopped

  odoo:
    image: odoo:18.0
    container_name: odoo18_app
    depends_on:
      - db
    ports:
      - "8069:8069"
    environment:
      HOST: db
      USER: odoo
      PASSWORD: odoo
    volumes:
      - ./addons:/mnt/extra-addons
      - odoo_web_data:/var/lib/odoo
    command: >
      odoo
      --db_host=db
      --db_user=odoo
      --db_password=odoo
      --addons-path=/usr/lib/python3/dist-packages/odoo/addons,/mnt/extra-addons
    restart: unless-stopped

volumes:
  odoo_db_data:
  odoo_web_data:
