services:
  db:
    image: postgres:15
    environment:
      - POSTGRES_DB=postgres
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
    ports:
      - "55432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  odoo:
    image: odoo:18.0
    depends_on:
      - db
    ports:
      - "8069:8069"
    volumes:
      - odoo-data:/var/lib/odoo
      - ./extra-addons:/mnt/extra-addons  # Your custom modules
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    command: odoo --init=base --stop-after-init  # This initializes the database